
*.exe
*.so
*.a
*.csv
*.log
*.trs
*.sage.py

.libs/
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
conftest*
*.tar.gz
*.la
libtool
.deps/
.dirstamp
*.lo
*.o
*~

coverage/
coverage.html
coverage.*.html
*.gcda
*.gcno
*.gcov
.cache
.build
.out