bench
bench_ecmult
bench_internal
noverify_tests
tests
exhaustive_tests
precompute_ecmult_gen
precompute_ecmult
ctime_tests
ecdh_example
ecdsa_example
schnorr_example
ellswift_example
musig_example
*.exe
*.so
*.a
*.csv
*.log
*.trs
*.sage.py

Makefile
configure
.libs/
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
conftest*
*.tar.gz
*.la
libtool
.deps/
.dirstamp
*.lo
*.o
*~

coverage/
coverage.html
coverage.*.html
*.gcda
*.gcno
*.gcov

build-aux/ar-lib
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
libsecp256k1.pc

### CMake
/CMakeUserPresets.json
# Default CMake build directory.
/build
.cache/clangd/index/assumptions.h.4DF052718CD99F36.idx
.cache/clangd/index/bench_ecmult.c.53ED8ED954B78760.idx
.cache/clangd/index/bench_impl.h.1D68C9C86A26EA0D.idx
.cache/clangd/index/bench_impl.h.8C3CF8E7829524A4.idx
.cache/clangd/index/bench_impl.h.290D4397B2628209.idx
.cache/clangd/index/bench_internal.c.2B9A5B972973DDB7.idx
.cache/clangd/index/bench.c.9EF5BA5FC9023212.idx
.cache/clangd/index/bench.h.237F7299B7D4123D.idx
.cache/clangd/index/checkmem.h.5EEAD4CA0B93E2E1.idx
.cache/clangd/index/ctime_tests.c.1D0AE2D5BCA19130.idx
.cache/clangd/index/ecdsa_impl.h.6A265285EEF93465.idx
.cache/clangd/index/ecdsa_secp256k1_sha256_bitcoin_test.h.4BD916CBE1CEDBED.idx
.cache/clangd/index/ecdsa.h.D4D32061750A3425.idx
.cache/clangd/index/eckey_impl.h.8ECC7B3996DEED29.idx
.cache/clangd/index/eckey.h.F4E6AFDFAAF79B22.idx
.cache/clangd/index/ecmult_compute_table_impl.h.5583F41120DF088F.idx
.cache/clangd/index/ecmult_compute_table.h.89A6A3D6E84741CD.idx
.cache/clangd/index/ecmult_const_impl.h.9612D55CDFB77EE6.idx
.cache/clangd/index/ecmult_const.h.8D53F599E6B6DF9B.idx
.cache/clangd/index/ecmult_gen_compute_table_impl.h.31E0D276EA5248C1.idx
.cache/clangd/index/ecmult_gen_compute_table.h.534D644110E4BA0B.idx
.cache/clangd/index/ecmult_gen_impl.h.0C9C40B4B3F2F0D2.idx
.cache/clangd/index/ecmult_gen.h.572C49BB275F56A1.idx
.cache/clangd/index/ecmult_impl.h.C39AC03538923494.idx
.cache/clangd/index/ecmult.h.AE68B33EB2BA84FF.idx
.cache/clangd/index/field_5x52_impl.h.5BCE58136114E8AF.idx
.cache/clangd/index/field_5x52_int128_impl.h.8337702F8B76E8EF.idx
.cache/clangd/index/field_5x52.h.E646C83ABD360994.idx
.cache/clangd/index/field_impl.h.A8438E89873012D5.idx
.cache/clangd/index/field.h.5C3C0C838A37C796.idx
.cache/clangd/index/group_impl.h.872A38F2D928AE03.idx
.cache/clangd/index/group.h.0FF99BD1386FB0EF.idx
.cache/clangd/index/hash_impl.h.ADC72DCE40B84482.idx
.cache/clangd/index/hash.h.FEFAAB425727FEEC.idx
.cache/clangd/index/hsort_impl.h.A4B21FCF404EF382.idx
.cache/clangd/index/hsort.h.09B86C77C69A0E75.idx
.cache/clangd/index/int128_impl.h.56F66C874A7E38B2.idx
.cache/clangd/index/int128_native_impl.h.6DC2DD04C96F4802.idx
.cache/clangd/index/int128_native.h.F93ABB77CDA7A010.idx
.cache/clangd/index/int128.h.8A201AD680DD0E6E.idx
.cache/clangd/index/keyagg_impl.h.728CAFC7B25213A4.idx
.cache/clangd/index/keyagg.h.775737CAB005FAF1.idx
.cache/clangd/index/lax_der_parsing.c.DECA673D1EEB6575.idx
.cache/clangd/index/lax_der_parsing.h.90DC647D3CACE236.idx
.cache/clangd/index/lax_der_privatekey_parsing.c.A92FCBBD49F37A5E.idx
.cache/clangd/index/lax_der_privatekey_parsing.h.CAAF93C6C0C34269.idx
.cache/clangd/index/main_impl.h.2AC60A9054FECC6C.idx
.cache/clangd/index/main_impl.h.27F08E146B5219A4.idx
.cache/clangd/index/main_impl.h.71699E29EE4AC811.idx
.cache/clangd/index/main_impl.h.A9F95F686BA5150F.idx
.cache/clangd/index/main_impl.h.E8057137BEA7D24F.idx
.cache/clangd/index/modinv32_impl.h.87DA0DC68826BCEB.idx
.cache/clangd/index/modinv32.h.84A07F4B04119A64.idx
.cache/clangd/index/modinv64_impl.h.ECE296E52ED527A5.idx
.cache/clangd/index/modinv64.h.496D9C17F85D4D01.idx
.cache/clangd/index/precomputed_ecmult_gen.c.A0C41BBD57DB8315.idx
.cache/clangd/index/precomputed_ecmult_gen.h.4DFBDAF456EFAC04.idx
.cache/clangd/index/precomputed_ecmult.c.49644C76C7F4ADA3.idx
.cache/clangd/index/precomputed_ecmult.h.97BB3B7ABE409BCE.idx
.cache/clangd/index/scalar_4x64_impl.h.F339DC921D91A345.idx
.cache/clangd/index/scalar_4x64.h.2AEF5DE4983D3445.idx
.cache/clangd/index/scalar_impl.h.77F99467B87EF75A.idx
.cache/clangd/index/scalar_low_impl.h.6C7D6910643530DD.idx
.cache/clangd/index/scalar_low.h.2C5EB5CFA2C03B23.idx
.cache/clangd/index/scalar.h.47FBC886313A3577.idx
.cache/clangd/index/scratch_impl.h.B482B3ABEB222090.idx
.cache/clangd/index/scratch.h.D69FF5E3AE305E14.idx
.cache/clangd/index/secp256k1_ecdh.h.CE72EE1C1130E7E7.idx
.cache/clangd/index/secp256k1_ellswift.h.0F7CC6347BBA65A5.idx
.cache/clangd/index/secp256k1_extrakeys.h.B7685221B8BAAC60.idx
.cache/clangd/index/secp256k1_musig.h.3E45E1C054F535C0.idx
.cache/clangd/index/secp256k1_preallocated.h.893734A49FFF4B2D.idx
.cache/clangd/index/secp256k1_schnorrsig.h.F84DE726F400D9AF.idx
.cache/clangd/index/secp256k1.c.44AEB9F5377BE2A7.idx
.cache/clangd/index/secp256k1.h.D2D4BDE6A1A2C5BE.idx
.cache/clangd/index/selftest.h.673B3F06FC8DB0FD.idx
.cache/clangd/index/session_impl.h.D72C91DAAC260F63.idx
.cache/clangd/index/session.h.55857C5BF5AFA747.idx
.cache/clangd/index/testrand_impl.h.ED32162814EE304E.idx
.cache/clangd/index/testrand.h.5918782A567C203D.idx
.cache/clangd/index/tests_exhaustive_impl.h.8F2D40A8EE1C4CC5.idx
.cache/clangd/index/tests_exhaustive_impl.h.26F1AAF27F196A5A.idx
.cache/clangd/index/tests_exhaustive_impl.h.A73947A9918D3600.idx
.cache/clangd/index/tests_exhaustive.c.84A32DD7AE05E546.idx
.cache/clangd/index/tests_impl.h.0CBEA71A3A6FFFF3.idx
.cache/clangd/index/tests_impl.h.6CD97A55DACEBAD2.idx
.cache/clangd/index/tests_impl.h.7287AC10132BF625.idx
.cache/clangd/index/tests_impl.h.E1ABE3AFD90BD761.idx
.cache/clangd/index/tests_impl.h.E6774414F765080C.idx
.cache/clangd/index/tests.c.E781F5560CCE7F03.idx
.cache/clangd/index/testutil.h.13B193C8F36D7E5C.idx
.cache/clangd/index/util.h.04DABE106E2FA06F.idx
.cache/clangd/index/vectors.h.A07EF8A8C7253F60.idx
out/build/dev-mode/cmake_install.cmake
out/build/dev-mode/CMakeCache.txt
out/build/dev-mode/compile_commands.json
out/build/dev-mode/CTestTestfile.cmake
out/build/dev-mode/.cmake/api/v1/query/client-vscode/query.json
out/build/dev-mode/.cmake/api/v1/reply/cache-v2-27f668b2c803204bf49b.json
out/build/dev-mode/.cmake/api/v1/reply/cmakeFiles-v1-7f2b60bd0207ea610739.json
out/build/dev-mode/.cmake/api/v1/reply/codemodel-v2-e74b976b19a5bef69e59.json
out/build/dev-mode/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
out/build/dev-mode/.cmake/api/v1/reply/directory-examples-RelWithDebInfo-1c8b83b621b6ef38a245.json
out/build/dev-mode/.cmake/api/v1/reply/directory-src-RelWithDebInfo-5111ade9ad9b0befeb4f.json
out/build/dev-mode/.cmake/api/v1/reply/index-2024-11-03T03-10-14-0531.json
out/build/dev-mode/.cmake/api/v1/reply/target-bench_ecmult-RelWithDebInfo-625c574e98d441776c71.json
out/build/dev-mode/.cmake/api/v1/reply/target-bench_internal-RelWithDebInfo-20b97995078ca3d0853b.json
out/build/dev-mode/.cmake/api/v1/reply/target-bench-RelWithDebInfo-e766e5798306df3cba75.json
out/build/dev-mode/.cmake/api/v1/reply/target-ctime_tests-RelWithDebInfo-efc38c72de9524dfe71b.json
out/build/dev-mode/.cmake/api/v1/reply/target-ecdh_example-RelWithDebInfo-280ac70c0e09284c1bde.json
out/build/dev-mode/.cmake/api/v1/reply/target-ecdsa_example-RelWithDebInfo-801c7d72e9532f3ab9e0.json
out/build/dev-mode/.cmake/api/v1/reply/target-ellswift_example-RelWithDebInfo-8c8da7a517e2249ac4c3.json
out/build/dev-mode/.cmake/api/v1/reply/target-exhaustive_tests-RelWithDebInfo-22467e003db8df578e9d.json
out/build/dev-mode/.cmake/api/v1/reply/target-musig_example-RelWithDebInfo-5d94f3488cdcae7ef1d2.json
out/build/dev-mode/.cmake/api/v1/reply/target-noverify_tests-RelWithDebInfo-545d023124be90a8640f.json
out/build/dev-mode/.cmake/api/v1/reply/target-schnorr_example-RelWithDebInfo-b92cb93d1943e526da77.json
out/build/dev-mode/.cmake/api/v1/reply/target-secp256k1_precomputed-RelWithDebInfo-160c47f9c8cc33360350.json
out/build/dev-mode/.cmake/api/v1/reply/target-secp256k1-RelWithDebInfo-9c70b5c3d1c4e92ad50c.json
out/build/dev-mode/.cmake/api/v1/reply/target-tests-RelWithDebInfo-049f49f21aca14b57948.json
out/build/dev-mode/.cmake/api/v1/reply/toolchains-v1-5566bc40437a6707c7eb.json
out/build/dev-mode/CMakeFiles/cmake.check_cache
out/build/dev-mode/CMakeFiles/CMakeConfigureLog.yaml
out/build/dev-mode/CMakeFiles/Makefile2
out/build/dev-mode/CMakeFiles/progress.marks
out/build/dev-mode/CMakeFiles/TargetDirectories.txt
out/build/dev-mode/CMakeFiles/3.28.3/CMakeCCompiler.cmake
out/build/dev-mode/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
out/build/dev-mode/CMakeFiles/3.28.3/CMakeSystem.cmake
out/build/dev-mode/CMakeFiles/3.28.3/CompilerIdC/a.out
out/build/dev-mode/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
out/build/dev-mode/Testing/TAG
out/build/dev-mode/Testing/20241103-0310/Test.xml
out/build/dev-mode/examples/cmake_install.cmake
out/build/dev-mode/examples/CTestTestfile.cmake
out/build/dev-mode/examples/CMakeFiles/CMakeDirectoryInformation.cmake
out/build/dev-mode/examples/CMakeFiles/progress.marks
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/build.make
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/cmake_clean.cmake
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/compiler_depend.make
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/compiler_depend.ts
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/depend.make
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/DependInfo.cmake
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/flags.make
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/link.txt
out/build/dev-mode/examples/CMakeFiles/ecdh_example.dir/progress.make
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/build.make
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/cmake_clean.cmake
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/compiler_depend.make
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/compiler_depend.ts
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/depend.make
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/DependInfo.cmake
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/flags.make
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/link.txt
out/build/dev-mode/examples/CMakeFiles/ecdsa_example.dir/progress.make
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/build.make
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/cmake_clean.cmake
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/compiler_depend.make
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/compiler_depend.ts
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/depend.make
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/DependInfo.cmake
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/flags.make
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/link.txt
out/build/dev-mode/examples/CMakeFiles/ellswift_example.dir/progress.make
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/build.make
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/cmake_clean.cmake
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/compiler_depend.make
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/compiler_depend.ts
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/depend.make
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/DependInfo.cmake
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/flags.make
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/link.txt
out/build/dev-mode/examples/CMakeFiles/musig_example.dir/progress.make
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/build.make
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/cmake_clean.cmake
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/compiler_depend.make
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/compiler_depend.ts
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/depend.make
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/DependInfo.cmake
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/flags.make
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/link.txt
out/build/dev-mode/examples/CMakeFiles/schnorr_example.dir/progress.make
out/build/dev-mode/src/cmake_install.cmake
out/build/dev-mode/src/CTestTestfile.cmake
out/build/dev-mode/src/libsecp256k1-config-version.cmake
out/build/dev-mode/src/libsecp256k1-config.cmake
out/build/dev-mode/src/CMakeFiles/CMakeDirectoryInformation.cmake
out/build/dev-mode/src/CMakeFiles/progress.marks
out/build/dev-mode/src/CMakeFiles/Export/c49d8531aec3e1dc15923280032fb77d/libsecp256k1-targets-relwithdebinfo.cmake
out/build/dev-mode/src/CMakeFiles/Export/c49d8531aec3e1dc15923280032fb77d/libsecp256k1-targets.cmake
out/build/dev-mode/src/CMakeFiles/bench.dir/build.make
out/build/dev-mode/src/CMakeFiles/bench.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/bench.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/bench.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/bench.dir/depend.make
out/build/dev-mode/src/CMakeFiles/bench.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/bench.dir/flags.make
out/build/dev-mode/src/CMakeFiles/bench.dir/link.txt
out/build/dev-mode/src/CMakeFiles/bench.dir/progress.make
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/build.make
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/depend.make
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/flags.make
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/link.txt
out/build/dev-mode/src/CMakeFiles/bench_ecmult.dir/progress.make
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/build.make
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/depend.make
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/flags.make
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/link.txt
out/build/dev-mode/src/CMakeFiles/bench_internal.dir/progress.make
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/build.make
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/depend.make
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/flags.make
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/link.txt
out/build/dev-mode/src/CMakeFiles/ctime_tests.dir/progress.make
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/build.make
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/depend.make
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/flags.make
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/link.txt
out/build/dev-mode/src/CMakeFiles/exhaustive_tests.dir/progress.make
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/build.make
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/depend.make
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/flags.make
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/link.txt
out/build/dev-mode/src/CMakeFiles/noverify_tests.dir/progress.make
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/build.make
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/depend.make
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/flags.make
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/link.txt
out/build/dev-mode/src/CMakeFiles/secp256k1.dir/progress.make
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/build.make
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/depend.make
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/flags.make
out/build/dev-mode/src/CMakeFiles/secp256k1_precomputed.dir/progress.make
out/build/dev-mode/src/CMakeFiles/tests.dir/build.make
out/build/dev-mode/src/CMakeFiles/tests.dir/cmake_clean.cmake
out/build/dev-mode/src/CMakeFiles/tests.dir/compiler_depend.make
out/build/dev-mode/src/CMakeFiles/tests.dir/compiler_depend.ts
out/build/dev-mode/src/CMakeFiles/tests.dir/depend.make
out/build/dev-mode/src/CMakeFiles/tests.dir/DependInfo.cmake
out/build/dev-mode/src/CMakeFiles/tests.dir/flags.make
out/build/dev-mode/src/CMakeFiles/tests.dir/link.txt
out/build/dev-mode/src/CMakeFiles/tests.dir/progress.make
src/CMakeFiles/CMakeDirectoryInformation.cmake
src/CMakeFiles/progress.marks
src/CMakeFiles/Export/c49d8531aec3e1dc15923280032fb77d/libsecp256k1-targets-relwithdebinfo.cmake
src/CMakeFiles/Export/c49d8531aec3e1dc15923280032fb77d/libsecp256k1-targets.cmake
src/CMakeFiles/bench.dir/build.make
src/CMakeFiles/bench.dir/cmake_clean.cmake
src/CMakeFiles/bench.dir/compiler_depend.make
src/CMakeFiles/bench.dir/compiler_depend.ts
src/CMakeFiles/bench.dir/depend.make
src/CMakeFiles/bench.dir/DependInfo.cmake
src/CMakeFiles/bench.dir/flags.make
src/CMakeFiles/bench.dir/link.txt
src/CMakeFiles/bench.dir/progress.make
src/CMakeFiles/bench_ecmult.dir/build.make
src/CMakeFiles/bench_ecmult.dir/cmake_clean.cmake
src/CMakeFiles/bench_ecmult.dir/compiler_depend.make
src/CMakeFiles/bench_ecmult.dir/compiler_depend.ts
src/CMakeFiles/bench_ecmult.dir/depend.make
src/CMakeFiles/bench_ecmult.dir/DependInfo.cmake
src/CMakeFiles/bench_ecmult.dir/flags.make
src/CMakeFiles/bench_ecmult.dir/link.txt
src/CMakeFiles/bench_ecmult.dir/progress.make
src/CMakeFiles/bench_internal.dir/build.make
src/CMakeFiles/bench_internal.dir/cmake_clean.cmake
src/CMakeFiles/bench_internal.dir/compiler_depend.make
src/CMakeFiles/bench_internal.dir/compiler_depend.ts
src/CMakeFiles/bench_internal.dir/depend.make
src/CMakeFiles/bench_internal.dir/DependInfo.cmake
src/CMakeFiles/bench_internal.dir/flags.make
src/CMakeFiles/bench_internal.dir/link.txt
src/CMakeFiles/bench_internal.dir/progress.make
src/CMakeFiles/ctime_tests.dir/build.make
src/CMakeFiles/ctime_tests.dir/cmake_clean.cmake
src/CMakeFiles/ctime_tests.dir/compiler_depend.make
src/CMakeFiles/ctime_tests.dir/compiler_depend.ts
src/CMakeFiles/ctime_tests.dir/depend.make
src/CMakeFiles/ctime_tests.dir/DependInfo.cmake
src/CMakeFiles/ctime_tests.dir/flags.make
src/CMakeFiles/ctime_tests.dir/link.txt
src/CMakeFiles/ctime_tests.dir/progress.make
src/CMakeFiles/exhaustive_tests.dir/build.make
src/CMakeFiles/exhaustive_tests.dir/cmake_clean.cmake
src/CMakeFiles/exhaustive_tests.dir/compiler_depend.make
src/CMakeFiles/exhaustive_tests.dir/compiler_depend.ts
src/CMakeFiles/exhaustive_tests.dir/depend.make
src/CMakeFiles/exhaustive_tests.dir/DependInfo.cmake
src/CMakeFiles/exhaustive_tests.dir/flags.make
src/CMakeFiles/exhaustive_tests.dir/link.txt
src/CMakeFiles/exhaustive_tests.dir/progress.make
src/CMakeFiles/noverify_tests.dir/build.make
src/CMakeFiles/noverify_tests.dir/cmake_clean.cmake
src/CMakeFiles/noverify_tests.dir/compiler_depend.make
src/CMakeFiles/noverify_tests.dir/compiler_depend.ts
src/CMakeFiles/noverify_tests.dir/depend.make
src/CMakeFiles/noverify_tests.dir/DependInfo.cmake
src/CMakeFiles/noverify_tests.dir/flags.make
src/CMakeFiles/noverify_tests.dir/link.txt
src/CMakeFiles/noverify_tests.dir/progress.make
src/CMakeFiles/secp256k1.dir/build.make
src/CMakeFiles/secp256k1.dir/cmake_clean.cmake
src/CMakeFiles/secp256k1.dir/compiler_depend.make
src/CMakeFiles/secp256k1.dir/compiler_depend.ts
src/CMakeFiles/secp256k1.dir/depend.make
src/CMakeFiles/secp256k1.dir/DependInfo.cmake
src/CMakeFiles/secp256k1.dir/flags.make
src/CMakeFiles/secp256k1.dir/link.txt
src/CMakeFiles/secp256k1.dir/progress.make
src/CMakeFiles/secp256k1_precomputed.dir/build.make
src/CMakeFiles/secp256k1_precomputed.dir/cmake_clean.cmake
src/CMakeFiles/secp256k1_precomputed.dir/compiler_depend.make
src/CMakeFiles/secp256k1_precomputed.dir/compiler_depend.ts
src/CMakeFiles/secp256k1_precomputed.dir/depend.make
src/CMakeFiles/secp256k1_precomputed.dir/DependInfo.cmake
src/CMakeFiles/secp256k1_precomputed.dir/flags.make
src/CMakeFiles/secp256k1_precomputed.dir/progress.make
src/CMakeFiles/tests.dir/build.make
src/CMakeFiles/tests.dir/cmake_clean.cmake
src/CMakeFiles/tests.dir/compiler_depend.make
src/CMakeFiles/tests.dir/compiler_depend.ts
src/CMakeFiles/tests.dir/depend.make
src/CMakeFiles/tests.dir/DependInfo.cmake
src/CMakeFiles/tests.dir/flags.make
src/CMakeFiles/tests.dir/link.txt
src/CMakeFiles/tests.dir/progress.make
